:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #3d4240;
  background-color: white;
  overflow-x: hidden;
}

html, body { 
  font-size: 100%; 
  min-height: 100vh; 
  height: auto;
}


/* header section for the app-logo and the print button*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: 0;
}

.app-logo {
  margin-top: -15px;
  position: fixed;
  left: 10px;
  top: 5px;
}

.logo-first-half {
  font-size: 20.8px; 
  font-family: 'Figtree';
  font-weight: 600;
}

.logo-second-half {
  font-size: 22.4px;
  font-family: 'Figtree';
  letter-spacing: 1.2px;
  font-weight: 100;
}

.print-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3d4240;
  border: 1px solid #3d4240;
  border-radius: 4px;
  height: 28px;
  width: 80px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
}

.print-button:hover {
  background-color: #464d4cef;
  border: 1px solid #3d4240;
}

.print-button p {
  margin: 5px;
  margin-left: px;
  color: whitesmoke;
  font-size: 0.8rem;
}

.print-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5px;
}

.print-top {
  background-color: whitesmoke;
  width: 15px;
  height:3px;
  margin-bottom: 2px;
}

.print-middle {
  background-color: whitesmoke;
  width: 17px;
  height:5px;
  border-radius: 1px;
}

.print-bottom {
  background-color: whitesmoke;
  width: 10px;
  height:1.5px;
  margin-top: 2px;
}

/*-------------------------main*/

main {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  z-index: 1;
}

/* input Section*/

.input-section {
  padding-left: -10px;
  padding-right: -16px;
  max-width: 600px;
  margin: 20px;
  margin-left: 110px;
  margin-right: 40px;
}

.step-indicator {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 40px;
  margin-top: 15px;
}

.indicator {
  width: 5px;
  height: 6px;
  margin-left: 7px;
  background-color: #575d5a;
  border: 1px solid #3d4240;
  border-radius: 2px;
}

.active {
  background-color: whitesmoke;
  border: 1px solid #6a6f8a;
  transition: background-color 700ms ease, border 3000ms ease;
  width: 6px;
  height: 7px;
}

.input-section h1 {
  line-height: 1.2;
  font-family: 'Figtree';
  font-size: 1.6rem;
  margin-left: 23px;
  margin-top: 16px;
  max-width: 374px;
}
.input-section p {
  max-width: 374px;
}

p {
  font-weight: 800;
  font-size: 1rem;
  margin-top: -15px;
  color:#5c6362e8;
  margin-left: 24px;
}

.form-card {
  width: 350px;
  border: 1px solid #3d424025;
  border-radius: 5px;
  margin-top: 30px;
  padding: 25px 25px 30px 25px;
  box-shadow: -2px 8px 9px 4px rgba(114, 113, 113, 0.2);
}

.hovered {
  background-color: rgba(202, 101, 103, 0.267); 
  border: 1px solid crimson;
  transition: background-color 0.5s ease, border 0.5s ease
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #3d4240a7;
  font-family: 'Inter';
}

.label-layout {
  display: flex;
  flex-direction: column;
}

.text-input {
  margin-top: 5px;
  margin-bottom: 10px;
  width: 330px;
  padding-bottom: 2px;
  font-size: .9rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid hsl(197, 7%, 69%);
  outline: none;
  font-family: 'Inter';
}

.text-input:focus {
  border-bottom: 1px solid #34384b;
}

textarea { 
  width: 100%; 
  padding: 10px; 
  margin: 8px 0; 
  box-sizing: border-box; 
  border: 2px solid red; 
  border-radius: 4px; 
  resize: vertical; 
}

.add-button, .delete-button {
  color: #3d4240;
  background-color: #3d424000;
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 400;
 /* margin-top: 0px;*/
  margin-left: 308px;
  display: flex;
  flex-direction: column;
  align-items:end;
}

.add-button {
  padding-top: 10px;
  margin-bottom: -20px;
}

.delete-button {
  margin-top: -18px;
}

.delete-button:hover .delIcon,
.delete-button:hover .delText {
  color: crimson;
  margin-top: 1px;
  transition: color 0.5s ease, margin 0.5s ease;
}

.delete-button:hover .delIcon {
  margin-top: 2px;
  font-size: 1.1rem;
  transition: font-size 0.2s ease, margin-top .5s ease-in-out;
}

.add-button:hover .addText {
  margin-top: 1px;
  transition: margin-top 0.1s ease;
}

.add-button:hover .addIcon {
  margin-top: 2px;
  font-size: 1.3rem;
  transition: margin-top 0.3s ease;
}

.delete-button:hover ~ .form-card {
  border-color: crimson; 
  background-color: #d92937; 
  transition: background-color 0.5s ease-in-out, border-color 0.5s ease;
}

.addIcon {
  font-size: 1.2rem;
}

.delIcon {
  font-size: .9rem;
  color: #060606;
}

.addText, .delText {
  font-size: .9rem;
  font-weight: 400;
}

/* direction buttons */

.direction-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 23px;
  margin-right: 31px;
  gap: 2px;
}

.back-button, .next-button {
  border: none;
  width: 21px;
  background-color: #3d424000;
  padding: 5px 0px;
  cursor: pointer;
  font-family: 'Inter';
  font-weight: 400;
  color:#2d3131e8;
  display: flex;
  flex-direction: column;
}

.back-button {
  align-items: flex-end;
  padding-right: 0px;
}

.button-icon {
  font-size: 1rem;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 4px;
  color: whitesmoke;
  background-color: #3d4240dc;
  border: 1px solid #3d424000;
  border-radius: 3px;
  transition: background-color 0.1s ease, border 0.1s ease;
}

.button-icon:hover {
  background-color: #464d4c;
  border: 2px solid #60646200;
}

.button-text {
  margin-top: 8px;
  font-size: 1rem;
}

.back-button > .button-text {
  margin-right: -1px;
}

.dividing-line {
  margin-left: 1px;
  margin-top: 37px;
  color: #515755c6;
  font-size: .8rem;
}

/* vertical line dividing page */

.vertical-line {
  margin-left: 80px;
  border-left: 1px solid #3d424041;
  height: 88vh;  
  position: fixed;
  left: 558px;
}

/* output section */

.a4-sheet {
  width: 210mm;
  height: 297mm;
  background-color: white;
  border-radius: 3px;
  margin: 20px;
  margin-top: 30px;
  margin-left: 205px;
  margin-bottom: 30px;
  box-shadow: -2px 8px 9px 4px rgba(114, 113, 113, 0.2);
}

.sheet-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 210mm;
  height: 140px;
  background-color: #6b6f83;
  text-align: center;
  color: rgb(241, 241, 237);
  font-family: 'Lato'; 
}

.resume-fullname {
  text-align: center;
  font-size: 1.5rem;
  Font-weight: 900;
  margin: 0px;
}

.resume-jobtitle {
  text-align: center;
  font-weight: 500;
  text-shadow: 0 0 .4px;
  margin: 0px;
  margin-bottom: -3px;
  margin-top: -2px;
  color: rgb(241, 241, 237);;
}

.emailAndLinkedin, .phoneAndAddress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.resume-email, .resume-linkedInUrl, .resume-phonenumber, .resume-address {
  margin: 0px;
  font-size: 12px;
  font-weight: 100;
  color: rgb(241, 241, 237);;
}

.resume-email {
  margin-top: 4px;
}

.resume-linkedInUrl {
  margin-top: 1px;
  margin-bottom: -1px;
}

.resume-phonenumber span {
  margin-right: 2px;
}

.dividing-Line {
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
  color: white;
  font-weight: 100;
}

.sheet-content-div {
  padding: 30px 40px;
  line-height: 1.4;
}

.horizontal-line {
  border-top: 1px solid #3d424041;
  width: 730px;
  bottom: px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 25px;
}

.sheet-exp-div {
 margin-bottom: -12px;
}

.sheet-education-div {
  margin-top: -4px;
}

.achievements {
  max-width: 505px;
}

.subHeader {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.somethingAndPeriod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.schoolName {
  font-size: .9rem;
}

.period {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.courseName, .from, .to, .achievements {
  font-size: .9rem;
  font-weight: 400;
}

.from {
  margin-right: -20px; 
  font-weight: 400;
  font-size: .9rem;
}

.to {
  margin-right: 20px;
  font-weight: 400;
  font-size: .9rem;
}

.complocat {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.complocat span {
  color: #515755de;
  font-weight: 200;
  font-style: normal;
  font-size: .8rem;
}

.company, .location {
  font-size: .9rem;
  font-weight: 400;
  font-style: italic;
}

.complocat .dividing-Line {
  margin-left: -19px;
  margin-right: 1px;
}

.location {
  padding-top: 1px;
  margin-bottom: 14px;
}

.projectAndAchiv, .institAndCourse {
  margin-bottom: 10px;
}

@media (max-width: 480px) {

  /* header section for the app-logo and the print button*/

  header {
    height: 40px;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
  }

  .print-button {
    height: 19px;
    width: 25px;
    margin-right: 5px;
    margin-top: -3px;
  }
  
  .print-icon {
    margin-left: 1px;
  }
  
  .print-top {
    width: 11px;
    height:2px;
  }
  
  .print-middle {
    width: 14px;
    height:4px;
  }
  
  .print-bottom {
    width: 7px;
    height: 1px;
  }

  .logo-first-half {
    font-size: 15.6px; 
  }
  
  .logo-second-half {
    font-size: 16.8px;
  }

  main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  /* input Section*/

  .input-section {
    padding-left: -10px;
    padding-right: -16px;
    max-width: 600px;
    margin: 20px;
    margin-left: 13px;
    margin-right: 40px;
  }

  .indicator {
    margin-left: 4px;
  }

  .step-indicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: -5px;
    margin-top: 35px;
  }

  .input-section h1 {
    font-size: 1.2rem;
    margin-left: 0px;
    margin-top: 16px;
    margin-bottom: 19px;
    max-width: 374px;
  }
  .input-section p {
    max-width: 274px;
  }

  .print-button p {
    display: none;
  }

  p {
    font-size: .9rem;
    margin-top: -15px;
    margin-left: 0px;
  }

  .form-card {
    width: 90%;
    max-width: 370px;
    min-width: 235px;
    padding: 25px 25px 55px 19px;
    position: relative;
  }

  label {
    font-size: .85rem;
  }

  .text-input {
    width: 100%;
    padding-bottom: 2px;
    font-size: .9rem;
  }

  .button-text {
    margin-top: 8px;
    font-size: .9rem;
  }

  .add-button, .delete-button {
    margin-left: 218px;
    position: absolute;
    right: 15px;
  }

  .addIcon {
    font-size: 1.1rem;
  }
  
  .delIcon {
    font-size: .8rem;
  }
  
  .addText, .delText {
    font-size: .8rem;
  }

  .vertical-line {
    display: none;
  }

  .direction-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 23px;
    gap: 2px;
    padding-left: 0px;
    margin-right: -10px;
  }

  .button-icon {
    height: 14px;
    width: 7px;
    padding-top: 0px;
  }

  .dividing-line {
    margin-top: 33px;
  }

  /* output section */

  /*.a4-sheet {
    width: 90%;
    min-width: 110vw;/*min-width: 284px;*/
    /*height: 297mm;
    margin-top: 30px;
    margin-left: -10px;
  }

  .sheet-header-div {
    width: 100%;
    height: 100px;
    font-family: 'Lato'; 
  }
  */
    
  .a4-sheet {
    margin: auto;
    margin-top: 20px;
    width: 210mm;
    height: 297mm;
    transform: scale(0.48); 
    transform-origin: top left;
  }

  .to {
    margin-left: 25px;
  }

  .achievements {
    max-width: 490px;
  }
  
  .complocat .dividing-Line {
    margin-left: -19px;
    margin-right: 2px;
  }

  .location > .dividing-Line {
    margin-left: 6px;
  }
  
  .location {
    padding-top: 1px;
    margin-bottom: 14px;
  }

}

@media (max-width: 430px) {
  .a4-sheet {
    transform: scale(0.514);
  }
}

@media (max-width: 414px) {
  .a4-sheet {
    transform: scale(0.499);
  }
}

@media (max-width: 390px) {
  .a4-sheet {
    transform: scale(0.47);
  }
}

@media (max-width: 376px) {
  .a4-sheet {
    transform: scale(0.45);
  }
}

@media (max-width: 360px) {
  .a4-sheet {
    transform: scale(0.43);
  }
}

@media (max-width: 320px) {
  .a4-sheet {
    transform: scale(0.38);
  }
}






